language: cpp

compiler:
  - gcc
  - clang
  
sudo: required

before_install:
    - sudo apt-get install libsdl2-2.0-0
    - wget https://www.libsdl.org/release/SDL2-2.0.7.tar.gz -O SDL2-2.0.7.tar.gz
    - tar -xzvf SDL2-2.0.7.tar.gz

install:
    - "(cd SDL2-2.0.7 && ./configure && make && sudo make install)"
  
  
script:
 #task SDL Dynamic

  - 'if [ ! -d "./build" ];
        then mkdir build;
     fi'
  - cd build
  - cmake ..
  - make
  - ./SDL-Dynamic
